[Unit]
Description=Maps GPIO key presses to keyboard shortcuts.
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/GPIOShortcuts/service.py
Restart=on-abort

[Install]
WantedBy=multi-user.target