[Unit]
Description=GPIOShortcuts
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /etc/GPIOShortcuts/service.py
Restart=on-abort

[Install]
WantedBy=multi-user.target